
  body {
    background-color: #ebebeb;
  }
  .container{
    margin-top: 50px;

  }
  .page-header{

    margin-top: 20px;
  }
  #whiteOut {
    background-color: white;
  }

  #lineIt{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    width: 95%;
    border-bottom: 1px solid #ebebeb;
    }

    #floaty{
    float: left;
    margin-left: 50px;
}
